# Build directories
bin/
obj/

# CodeBlocks IDE files
*.layout
*.depend
*.cbp

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
mouse_gestures
mouse_gestures.exe

# IDE specific files
.vscode/
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


# build folder
build/

# cmake files
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
Makefile
cmake_uninstall.cmake
cmake_uninstall.cmake.in

